#center-btn {
    text-align: center;
}

#apple-pic {
    width: 100%;
    height: 500px;
}

#login-box {
    border: 5px solid black;
    margin: 0 auto;
}

#login-form-link {
    float:right;
    margin-bottom: 20px;
} 

#rfrom {
    padding-top: 1000px;
    border: 5px solid black;
}

#center-title{
    text-align: center;
}

#btn-float-right {
    float: right;
}

.center-text {
	text-align: center;
}

table {
	border: 5px solid grey;
	text-align: center;
	width: 50%;
}
